---
layout: default
title: Resources
---
<div class="page-container">
  <!-- Main Content -->
  <main class="main-content">
    <section class="page-header">
      <h1>Resources</h1>
      <div class="resources-filter btn-group">
        <button class="btn btn-secondary filter-btn active" data-filter="all">All</button>
        <button class="btn btn-secondary filter-btn" data-filter="press">Press</button>
        <button class="btn btn-secondary filter-btn" data-filter="publication">Publications</button>
      </div>
    </section>
    <section class="resources-list">
      <a href="/white-papers/wound-that-wont-heal" class="resource-item publication" target="_blank">
        <img src="/images/news-card-graphic-fallback.jpg" alt="A Wound that Won’t Heal: The Global Call for Robust Chronic Wound Care" class="resource-item-image" />
        <h3>A Wound that Won’t Heal: The Global Call for Robust Chronic Wound Care</h3>
        <p class="resource-item-meta"><span>White Paper</span>April 15, 2026</p>
      </a>
      <a href="https://www.einpresswire.com/article/890084290/aethl-bio-appoints-dr-joseph-maroon-to-scientific-advisory-board-strengthening-clinical-and-scientific-leadership" class="resource-item press" target="_blank">
        <img src="/images/news-card-graphic-fallback.jpg" alt="" class="resource-item-image" />
        <h3>Aethl Bio Appoints Dr. Joseph Maroon to Scientific Advisory Board, Strengthening Clinical and Scientific Leadership</h3>
        <p class="resource-item-meta"><span>Press</span>February 6, 2026</p>
      </a>
      <a href="https://www.linkedin.com/posts/carmelormontalvo_pgh-biotech-innovation-share-7415262891173679105-VXvl/?utm_source=share&utm_medium=member_desktop&rcm=ACoAAAwduKkBz-3a812mwgVGDM1p08LOoX_E_uA" class="resource-item press" target="_blank">
        <img src="/images/news-card-graphic-fallback.jpg" alt="" class="resource-item-image" />
        <h3>Aethl Bio Strengthens Leadership with Appointment of Melissa A. Thompson, PhD</h3>
        <p class="resource-item-meta"><span>Press</span>Insert Date</p>
      </a>
    </section>
  </main>

  <!-- Footer -->
  {% include footer.html %}
</div>

{% include back-to-top.html %}
{% include newsletter-modal.html %}