---
layout: default
title: Wound That Won't Heal
---
<div class="page-container">
  <!-- Main Content -->
  <main class="main-content news-post">
    <div class="news-post-title flow">
      <div>
        <a href="/" class="back-link">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.41 15.41L12 10.83L16.59 15.41L18 14L12 8L6 14L7.41 15.41Z" fill="currentColor" />
          </svg>
        </a>
        <span class="eyebrow">White Paper</span>
      </div>
      <h1>A Wound that Won’t Heal</h1>
      <p><strong>The Global Call for Robust Chronic Wound Care</strong></p>

      <div class="contents flow" id="contents">
        <h3>Contents</h3>
        <ol class="contents-list">
          <li><a href="#executive-summary">Executive Summary</a></li>
          <li><a href="#chronic-wound-burden">Understanding the Chronic Wound Burden</a></li>
          <li><a href="#recommendations">Recommendations for the Future of Wound Care</a></li>
          <li><a href="#conclusions">Conclusions</a></li>
          <li><a href="#sources">Sources</a></li>
        </ol>
      </div>

      <p class="btn-group">
        <button id="copyCitationBtn" type="button" class="btn btn-secondary icon-btn" title="Copy Citation" aria-label="Copy citation">
          <span class="icon icon-copy" aria-hidden="true">
            <!-- copy icon -->
            <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
              <path d="M16 1H6a2 2 0 0 0-2 2v12h2V3h10V1zm3 4H10a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2zm0 16H10V7h9v14z" />
            </svg>
          </span>

          <span class="icon icon-check" aria-hidden="true">
            <!-- check icon -->
            <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
              <path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z" />
            </svg>
          </span>
        </button>

        <span id="copyLive" class="sr-only" aria-live="polite"></span>

        <a href="./Aethl-Bio-White-Paper-PROOF.pdf" class="btn btn-secondary" id="download-pdf" title="Download PDF">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 3v12"></path>
            <path d="M7 10l5 5 5-5"></path>
            <path d="M5 21h14"></path>
          </svg>
        </a>
      </p>

      <div id="citation" hidden>Alemu, S., & Montalvo, C. R. (2026). <em>A wound that won’t heal: The global call for robust chronic wound care</em> [White paper]. Aethl Bio, Inc. <a href="https://www.aethlbio.com/white-papers/wound-that-wont-heal">https://www.aethlbio.com/white-papers/wound-that-wont-heal</a></div>
    </div>

    <div class="news-post-content flow">
      <section id="executive-summary" class="flow">
        <h2>Executive Summary</h2>
        <p>Health is the utmost priority for every human being.</p>

        <p>
          Yet, treatment for common chronic wounds, which can have mortality rates comparable to cancer<sup><a href="#source-1">[1]</a></sup
          >, has long gone <strong>neglected by modern healthcare systems.</strong> While nations spend billions each year trying to mitigate its public health burden, chronic wound prevalence is projected to only increase with time. There is a clear global demand for a transformation in delivery of chronic wound care to fit the economic and clinical needs of a changing landscape.
        </p>
        <h3>Where is the need?</h3>
        <p>As OECD nations observe a <strong>rapidly growing elderly population,</strong> the primary demographic for chronic wound patients, so does the market demand for targeted research and treatment. In addition, the increased prevalence of chronic disease across the globe heightens the need for advancements in wound healing.</p>
        <h3>What can we do?</h3>
        <ul>
          <li><strong>Promote a patient-centered approach</strong> to treatment</li>
          <li><strong>Emphasize complete healing</strong> of wounds to prevent infection and/or amputation</li>
          <li><strong>Reduce healing time</strong> using biomaterials and technological advancements</li>
          <li><strong>Update clinical regulatory policy</strong> to match patient need</li>
        </ul>
        <blockquote>
          <p>The following paper delves into primary challenges for chronic wound patients and promising solutions to create happier, healthier communities.</p>
        </blockquote>
      </section>

      <section id="chronic-wound-burden" class="flow">
        <h2>Understanding the Chronic Wound Burden</h2>
        <p>
          The label “chronic wounds” describes a range of long-term nonhealing wounds including diabetic foot ulcer (DFUs), pressure ulcers (PUs), venous ulcers (VUs), and surgical infections. These often arise due to health complications from a combination of preexisting chronic disease, such as diabetes, sensory neuropathies, or cardiovascular disorders, making it difficult to attribute wounds to a root cause. Healthcare providers, researchers, and policymakers face the
          immense challenge of adopting a streamlined method to identify and address the burden chronic wounds pose on public health.
        </p>
        <blockquote>
          <p>
            In the US, the gap between a rising demand for <strong>chronic wound treatment</strong> and <strong>limited resource allocation</strong> creates what has been likened to a <strong>“silent epidemic”</strong><sup><a href="#source-2">[2]</a></sup
            >.
          </p>
        </blockquote>
        <p>Key factors that contribute to the ongoing chronic wound public health burden are shown in Figure 1.</p>
        <figure class="callout flow" id="figure-1">
          <h4>Figure 1: 5 Key Factors Driving the Chronic Wound Care Public Health Burden</h4>
          <ul>
            <li>Growing Elderly Population</li>
            <li>Widespread Diabetes (diabetic foot)</li>
            <li>Disruptions to Patient Daily Life</li>
            <li>Overwhelmed Healthcare Institutions</li>
            <li>Ineffective Clinical Policy</li>
          </ul>
        </figure>
        <h3>A Vulnerable Aging Population</h3>
        <p>
          As people age, wound healing capability weakens, and prevalence of chronic wounds increases<sup><a href="#source-3">[3]</a></sup
          >. Predictably, most chronic wound patients are elderly. Modern healthcare institutions face the challenge of meeting the wound care needs of a rapidly growing elderly population. The EU projects that by 2050, over 28% of people living in EU countries will be aged ≥ 65<sup><a href="#source-4">[4]</a></sup
          >. The US Census Bureau projects the elderly population to nearly double from 17% to 23% of the national population by 2060<sup><a href="#source-5">[5]</a></sup
          >. This is especially a concern in the Asian continent, where the older population is projected to nearly triple in size by 2060, with the most growth concentrated in Eastern and Southern Asia<sup><a href="#source-6">[6]</a></sup
          >.
        </p>
        <h3>Dangers of Diabetic Foot</h3>
        <p>
          Every year, approximately 18.6 million people worldwide experience diabetic foot, a common complication from diabetes<sup><a href="#source-7">[7]</a></sup
          >. DFUs are the leading global cause of nontraumatic limb amputation, and in the Western hemisphere, the leading cause for amputations for lower extremities<sup><a href="#source-8">[8]</a></sup
          ><sup><a href="#source-9">[9]</a></sup
          >.
        </p>
        <p>
          Despite mortality rates comparable to cancer, and about 1 in 5 DFU patients requiring amputation, there lacks a clear clinical pathway for diagnosis and treatment. Rather, it is likely for patients to only receive treatment once the wound has progressed to the point where amputation is necessary<sup><a href="#source-8">[10]</a></sup
          >.
        </p>
        <blockquote>
          <p>There is a severe public health need for advancements in accessible, cost-effective DFU screening and treatment technology.</p>
        </blockquote>

        <h3>Disruption to Quality of Life</h3>
        <p>
          Reduced mobility, financial strain, chronic pain, and experiencing social isolation are common challenges for patients with chronic wounds<sup><a href="#source-11">[11]</a></sup
          >. A cross-sectional study on chronic wound patients in Germany found that only 9% of patients were employed<sup><a href="#source-12">[12]</a></sup
          >. Chronic wounds create large, prolonged disruptions to patient quality of life and ability to participate in society.
        </p>
        <p>
          Caregivers, a role often fulfilled by family or friends, fulfill an essential role for patients during the lengthy healing process. A correlational study on DFU caregivers in Turkey found that transportation services and specialized wound care training posed the strongest burden on caregivers<sup><a href="#source-13">[13]</a></sup
          >.
        </p>
        <blockquote>
          <p>To protect our communities, it is vital to allocate resources to support everyone involved in treatment.</p>
        </blockquote>

        <h3>Economic Burden on Healthcare Institutions</h3>
        <p>
          Chronic wounds tend to have prolonged healing time due to not only duration of recovery, but the likelihood of widespread infection while the body’s immune system is compromised, which increases the risk for rehospitalization<sup><a href="#source-14">[14]</a></sup
          >. Hospital bed occupancy, amputations, and surgical interventions add to high treatment costs. The <strong>long-term specialized care</strong> required for chronic wound treatment creates a significant economic burden on healthcare institutions.
        </p>
        <h4>Pressure Ulcers (PU)</h4>
        <p>
          At any given time, 1 out of 10 hospitalized patients in the United States experiences a PU<sup><a href="#source-15">[15]</a></sup
          >. Each PU can amount to an individual patient cost from $20,900-$151,700. In the US, PUs are estimated to cost the healthcare system over $28.6 billion annually<sup><a href="#source-16">[16]</a></sup
          >.
        </p>
        <h4>Venous Ulcers (VU)</h4>
        <p>
          VUs are the most common lower extremity chronic wound, reflected by an exceptionally high reoccurrence rate at approximately 50-76%<sup><a href="#source-17">[17]</a></sup
          >. Contributors to this reoccurrence rate include comorbidities such as obesity, hypertension, and diabetes. An estimated 3-5% of people aged ≥ 65 will experience a VU. In a US-based case control study, leg VUs treatment costs ranged from $11,088 to $27,408.
        </p>
        <h3>Gaps in Diagnostic Procedures</h3>
        <p>A chronic wound, as nominally implied, is a long-term disruption to the human skin that cannot return to working capacity. Yet, the definition of a healed wound from a clinical standpoint does not prioritize restoration of function, only restoring the wound surface.</p>
        <p>This “surface level” definition ignores the common case where chronic wounds reoccur, welcoming further costly health complications and rehospitalization.</p>
        <p>
          Studies have repeatedly shown patients have a higher chance of reoccurrence if they are cleared on the basis of structural closure despite still having a compromised skin barrier, particularly for DFUs<sup><a href="#source-18">[18]</a></sup
          ><sup><a href="#source-19">[19]</a></sup
          >.
        </p>
        <p>
          Even the ability for healthcare providers to judge a patient’s condition is limited in scope for chronic wound patients. In a review evaluating venous disease outcome measures, only 2 out of 8 questionnaires were of robust quality, and of them, only one was appropriate for patients with venous ulcers<sup><a href="#source-20">[20]</a></sup
          >.
        </p>
        <h3>Challenges for Regulatory Policy</h3>
        <p>Flaws in the current clinical understanding of wound care is mirrored in regulatory policy.</p>
        <p>
          A 2022 review of the U.S Food and Drug Administration (FDA) found that out of 70+ products approved for wound care, only three of them were intended for nonhealing chronic wounds<sup><a href="#source-21">[21]</a></sup
          >.
        </p>
        <p>
          The availability of products for chronic wound care vastly underscores the existing need. One in six Medicare beneficiaries suffer from chronic wounds, costing the nation about $22.5 billion dollars a year<sup><a href="#source-15">[15]</a></sup
          >.
        </p>
      </section>
      <section id="recommendations" class="flow">
        <h2>Recommendations for the Future of Wound Care</h2>
        <h3>Recommendation #1: Adopt Patient-centered Assessments and Diagnostics</h3>
        <p>
          Limited time, access to medical resources, and varied range of expertise may limit a provider’s ability to adequately care for a chronic wound. However, healthcare institutions that adopt a <strong>holistic, multi-disciplinary approach</strong> to wound care have observed strides in patient health outcomes<sup><a href="#source-8">[8]</a></sup
          >.
        </p>
        <p>
          It is critical to integrate clinical, psychosocial, and environmental factors to develop a more comprehensive understanding of the patient’s needs. Simple but effective accommodations include offering telehealth options, which increases access to long-term care for rural communities. Tailoring treatment to patient’s individual priorities encourages engagement in their recovery process and effective communication between patient and provider<sup
            ><a href="#source-21">[21]</a></sup
          >.
        </p>
        <h3>Recommendation #2: Utilize Biotechnology Advancements</h3>
        <p>
          Newer technologies integrated into chronic wound care, such as stem-cell skin grafting, often require <strong>costly materials</strong>, making it difficult to distribute to large populations<sup><a href="#source-22">[22]</a></sup
          ><sup><a href="#source-15">[15]</a></sup
          >. In the case of Hyperbaric Oxygen Therapy (HBOT), which has been used to treat chronic DFUs for the past 20 years, recent meta-analysis on its efficacy has been found inconclusive, highlighting a need for further research<sup><a href="#source-23">[23]</a></sup
          >.
        </p>
        <p>
          A growing chronic wound market has prompted the development of cost-effective methods to target specific biomarkers that promote restoration of function and faster healing rates than current standard of care<sup><a href="#source-22">[22]</a></sup
          >. Early stage studies observing wound area reduction and decreasing amputation rates suggest the potential for alternatives to conventional treatment<sup><a href="#source-24">[24]</a></sup
          ><sup><a href="#source-25">[25]</a></sup
          ><sup><a href="#source-26">[26]</a></sup
          >. More research needs to be done to understand the best way to <strong>integrate new technologies into standard of care.</strong>
        </p>
        <p>Described below are recent directions in technological advancement that show promise to shape the future of chronic wound care.</p>
        <ul>
          <li><strong>Bioactive dressings:</strong> Bioactive dressings incorporate a range of materials to prevent water loss in wounds, a major cause of healing complications, and overall accelerate the healing process. Primary targets include reducing hypoxia (lack of oxygen supply), preventing infection, promoting angiogenesis (blood vessel reformation), or tissue repair.</li>
          <li><strong>Pharmacological treatments:</strong> Pharmacological treatments targeting proteins involved in skin healing.</li>
        </ul>
        <h3>Recommendation #3: Update Clinical Regulations</h3>
        <p>Patients require comprehensive wound care assessments that emphasize wound prevention and restoration of function to the wound site. Policymakers and providers should consider revising the wound care endpoint for a healed patient to emphasize restoration of skin barrier function, and as well as what services are considered medically necessary and reimbursable care.</p>
      </section>

      <section id="conclusions" class="flow">
        <div class="callout flow">
          <h2>Conclusions</h2>
          <p>
            Chronic wounds — such as, but not limited to, DFUs, PUs, and VLUs — are a growing threat to our communities. Despite the evident human and material cost, global healthcare institutions struggle to meet burgeoning demands for reliable care. Fortunately, a growing base of new therapies and diagnostic measures provide a glimpse into how the future of chronic wound care can transform. Clinical policy that emphasizes patient-centered healthcare based on thorough,
            evidence-based research is essential to address the current burden on public health.
          </p>
        </div>
      </section>

      <section class="flow" id="sources">
        <h2>Sources</h2>
        <ol class="sources-list">
          <li id="source-1">D. G. Armstrong, M. A. Swerdlow, A. A. Armstrong, M. S. Conte, W. V. Padula, and S. A. Bus, “Five year mortality and direct costs of care for people with diabetic foot complications are comparable to cancer,” <em>J. Foot Ankle Res.</em>, vol. 13, p. 16, Mar. 2020, doi: 10.1186/s13047-020-00383-2.</li>
          <li id="source-2">G. K. Srivastava et al., “Progress in Wound-Healing Products Based on Natural Compounds, Stem Cells, and MicroRNA-Based Biopolymers in the European, USA, and Asian Markets: Opportunities, Barriers, and Regulatory Issues,” <em>Polymers</em>, vol. 16, no. 9, p. 1280, May 2024, doi: 10.3390/polym16091280.</li>
          <li id="source-3">K. Denny, C. Lawand, and S. D. Perry, “Compromised wounds in Canada,” <em>Healthc. Q. Tor. Ont</em>, vol. 17, no. 1, pp. 7–10, 2014, doi: 10.12927/hcq.2014.23787.</li>
          <li id="source-4">“Ageing Europe — 2019 edition.” Accessed: Dec. 19, 2025. [Online]. Available: https://ec.europa.eu/eurostat/web/products-statistical-books/-/KS-02-19-681</li>
          <li id="source-5">“Fact Sheet: Aging in the United States,” PRB. Accessed: Dec. 19, 2025. [Online]. Available: https://www.prb.org/resources/fact-sheet-aging-in-the-united-states/</li>
          <li id="source-6">U. C. Bureau, “Asia Aging: Demographic, Economic, and Health Transitions,” Census.gov. Accessed: Dec. 19, 2025. [Online]. Available: https://www.census.gov/library/publications/2022/demo/p95-22.html</li>
          <li id="source-7">D. G. Armstrong, T.-W. Tan, A. J. M. Boulton, and S. A. Bus, “Diabetic Foot Ulcers,” <em>JAMA</em>, vol. 330, no. 1, pp. 62–75, July 2023, doi: 10.1001/jama.2023.10578.</li>
          <li id="source-8">M. Sailer, H. Wergeland, and P. Randsborg, “Implementation of a clinical pathway for diabetes-related foot ulcers reduced the number of amputations and shortened hospital stay,” <em>J. Foot Ankle Res.</em>, vol. 18, no. 1, p. e70024, Jan. 2025, doi: 10.1002/jfa2.70024.</li>
          <li id="source-9">C. Miranda, R. D. Ros, and R. Marfella, “Update on prevention of diabetic foot ulcer,” <em>Arch. Med. Sci. – Atheroscler. Dis.,</em> vol. 6, no. 1, pp. 123–131, June 2021, doi: 10.5114/amsad.2021.107817.</li>
          <li id="source-10">D. G. Armstrong, A. J. M. Boulton, and S. A. Bus, “Diabetic Foot Ulcers and Their Recurrence,” <em>N. Engl. J. Med.,</em> vol. 376, no. 24, pp. 2367–2375, June 2017, doi: 10.1056/NEJMra1615439.</li>
          <li id="source-11">D. A. Busch et al., “Chronic Wounds and Employment: Assessing Occupation-Related Burden of Patients With Chronic Wounds—Results of a Pilot Study,” <em>Int. Wound J.,</em> vol. 22, no. 4, p. e70372, Apr. 2025, doi: 10.1111/iwj.70372.</li>
          <li id="source-12">M. Augustin, L. K. Brocatti, S. J. Rustenbach, I. Schäfer, and K. Herberger, “Cost-of-illness of leg ulcers in the community,” <em>Int. Wound J.,</em> vol. 11, no. 3, pp. 283–292, Oct. 2012, doi: 10.1111/j.1742-481X.2012.01089.x.</li>
          <li id="source-13">E. Toğluk Yiğitoğlu, Ö. Kaygu, N. Saltoğlu, and İ. İ. Balkan, “Burden of caregivers of diabetic foot ulcers: a single-centre, descriptive correlational study in Türkiye,” <em>BMJ Open,</em> vol. 15, no. 6, p. e092676, June 2025, doi: 10.1136/bmjopen-2024-092676.</li>
          <li id="source-14">U. Damineni, S. Divity, S. R. C. Gundapaneni, R. G. Burri, and T. Vadde, “Clinical Outcomes of Hyperbaric Oxygen Therapy for Diabetic Foot Ulcers: A Systematic Review,” <em>Cureus,</em> vol. 17, no. 2, p. e78655, doi: 10.7759/cureus.78655.</li>
          <li id="source-15">C. K. Sen, “Human Wound and Its Burden: Updated 2025 Compendium of Estimates,” <em>Adv. Wound Care,</em> vol. 14, no. 9, pp. 429–438, Sept. 2025, doi: 10.1177/21621918251359554.</li>
          <li id="source-16">W. V. Padula and B. A. Delarmente, “The national cost of hospital-acquired pressure injuries in the United States,” <em>Int. Wound J.,</em> vol. 16, no. 3, pp. 634–640, Jan. 2019, doi: 10.1111/iwj.13071.</li>
          <li id="source-17">C. K. Sen, “Human Wound and Its Burden: Updated 2022 Compendium of Estimates,” <em>Adv. Wound Care,</em> vol. 12, no. 12, pp. 657–670, Dec. 2023, doi: 10.1089/wound.2023.0150.</li>
          <li id="source-18">C. K. Sen et al., “High Transepidermal Water Loss at the Site of Wound Closure Is Associated With Increased Recurrence of Diabetic Foot Ulcers: The NIDDK Diabetic Foot Consortium TEWL Study,” <em>Diabetes Care</em>, vol. 48, no. 7, pp. 1233–1240, May 2025, doi: 10.2337/dc25-0300.</li>
          <li id="source-19">D. Chattopadhyay et al., “Deficient functional wound closure as measured by elevated transepidermal water loss predicts chronic wound recurrence: An exploratory observational study,” <em>Sci. Rep.</em>, vol. 14, p. 23593, Oct. 2024, doi: 10.1038/s41598-024-74426-0.</li>
          <li id="source-20">J. Cleman et al., “A state-of-the-art review of quality-of-life assessment in venous disease,” <em>J. Vasc. Surg. Venous Lymphat. Disord.</em>, vol. 12, no. 4, p. 101725, July 2024, doi: 10.1016/j.jvsv.2023.101725.</li>
          <li id="source-21">“White Paper – Wound balance: Achieving wound healing with confidence – Wounds International.” Accessed: Dec. 22, 2025. [Online]. Available: https://woundsinternational.com/best-practice-statements/white-paper-wound-balance-achieving-wound-healing-with-confidence/</li>
          <li id="source-22">K. Las Heras, M. Igartua, E. Santos-Vizcaino, and R. M. Hernandez, “Chronic wounds: Current status, available strategies and emerging therapeutic solutions,” <em>J. Controlled Release</em>, vol. 328, pp. 532–550, Dec. 2020, doi: 10.1016/j.jconrel.2020.09.039.</li>
          <li id="source-23">O. A. Oyebode, S. W. Jere, and N. N. Houreld, “Current Therapeutic Modalities for the Management of Chronic Diabetic Wounds of the Foot,” <em>J. Diabetes Res.</em>, vol. 2023, p. 1359537, Feb. 2023, doi: 10.1155/2023/1359537.</li>
          <li id="source-24">Y. Dong, Q. Yang, and X. Sun, “Comprehensive Analysis of Cell Therapy on Chronic Skin Wound Healing: A Meta-Analysis,” <em>Hum. Gene Ther.</em>, vol. 32, no. 15–16, pp. 787–795, Aug. 2021, doi: 10.1089/hum.2020.275.</li>
          <li id="source-25">S. Meaume et al., “Impact of primary dressings on healing of venous leg ulcers: a French cohort study from the healthcare insurance database,” <em>J. Wound Care</em>, vol. 33, no. 9, pp. 678–686, Sept. 2024, doi: 10.12968/jowc.2024.0189.</li>
          <li id="source-26">D. Voegeli, M. H. Landauro, T. Sperup, N. Ayoub, and J. W. McRobert, “Clinical performance and cost-effectiveness of a Silicone foam with 3DFitTM technology in chronic wounds compared with standard of care: An open randomised multicentre investigation,” <em>Int. Wound J.</em>, vol. 21, no. 12, p. e70074, Dec. 2024, doi: 10.1111/iwj.70074.</li>
        </ol>
      </section>
    </div>
  </main>

  <!-- Footer -->
  {% include footer.html %}
</div>

{% include back-to-top.html %}