<footer class="footer">
  <div class="footer-left">
    <div class="social-links">
      <a href="https://www.linkedin.com/company/aethlbio/" class="social-icon" title="Aethl Bio on LinkedIn" target="_blank">
        <img src="/images/icon-linkedin.svg" alt="LinkedIn" />
      </a>
      <a href="https://x.com/aethlbio" class="social-icon" title="Aethl Bio on X" target="_blank">
        <svg width="40" height="40" viewBox="0 0 40 40">
          <image href="/images/icon-x.svg" width="40" height="40" />
        </svg>
      </a>
      <a href="https://www.facebook.com/aethlbio/" class="social-icon" title="Aethl Bio on Facebook" target="_blank">
        <svg width="40" height="40" viewBox="0 0 40 40">
          <image href="/images/icon-facebook.svg" width="40" height="40" />
        </svg>
      </a>
      <a href="https://www.youtube.com/@AethlBio" class="social-icon" title="Aethl Bio on YouTube" target="_blank">
        <svg width="40" height="40" viewBox="0 0 40 40">
          <image href="/images/icon-youtube.svg" width="40" height="40" />
        </svg>
      </a>
    </div>

    <div class="footer-info">
      <div class="footer-item">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <image href="/images/icon-map-marker.svg" width="16" height="16" />
        </svg>
        <span>100 S Jackson Ave Ste 05-526 Pittsburgh, PA 15202-3907</span>
      </div>
      <div class="footer-item">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <image href="/images/icon-phone.svg" width="16" height="16" />
        </svg>
        <a href="tel:4122026563">(412) 202-6563</a>
      </div>
    </div>
  </div>

  <div class="footer-founding">
    <p><span id="copyright-year"></span> Aethl Bio, Inc. All rights reserved.</p>
    <p>Aethl Bio was proudly founded in Pittsburgh, PA by Carmelo R. Montalvo, Dan Willis, Zach Richert, and Derek Gonano.</p>
  </div>
</footer>