<!-- Newsletter modal -->
<div id="newsletter-modal" class="newsletter-modal" role="dialog" aria-modal="true" aria-hidden="true" aria-label="Newsletter signup">
  <div class="newsletter-modal-overlay" data-newsletter-modal-close></div>
  <div class="newsletter-modal-frame">
    <button type="button" class="newsletter-modal-close carousel-btn" aria-label="Close newsletter signup" data-newsletter-modal-close>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.3 7.11L16.89 5.7L12 10.59L7.11 5.7L5.7 7.11L10.59 12L5.7 16.89L7.11 18.3L12 13.41L16.89 18.3L18.3 16.89L13.41 12L18.3 7.11Z" fill="white" />
      </svg>
    </button>
    <div class="newsletter-modal-content">
      <div id="mc_embed_shell">
        <div id="mc_embed_signup">
          <form action="https://aethl.us1.list-manage.com/subscribe/post-json?u=d2dbd9ccc164631728cd24cb4&amp;id=cccd01d6eb&amp;f_id=00db0ae1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
            <div id="mc_embed_signup_scroll">
              <h2>Subscribe to Aethl Bio's Newsletter</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label
                ><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" />
              </div>
              <div class="mc-field-group">
                <label for="mce-FNAME">First Name <span class="asterisk">*</span></label
                ><input type="text" name="FNAME" class="required text" id="mce-FNAME" required="" value="" />
              </div>
              <div class="mc-field-group">
                <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label
                ><input type="text" name="LNAME" class="required text" id="mce-LNAME" required="" value="" />
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE7">I'm an: <span class="asterisk">*</span></label
                ><select name="MMERGE7" class="required" id="mce-MMERGE7">
                  <option value=""></option>
                  <option value="Investor / Potential Investor">Investor / Potential Investor</option>
                  <option value="Industry Partner">Industry Partner</option>
                  <option value="Media Personnel">Media Personnel</option>
                  <option value="Interested Party">Interested Party</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="mc-field-group input-group">
                <strong>Want to get more involved with Aethl? <span class="asterisk">*</span></strong>
                <ul>
                  <li><input type="radio" name="MMERGE8" id="mce-MMERGE80" value="Yes, I want to become more involved!" /><label for="mce-MMERGE80">Yes, I want to become more involved!</label></li>
                  <li><input type="radio" name="MMERGE8" id="mce-MMERGE81" value="I'm only interested in Aethl's newsletter at the moment." /><label for="mce-MMERGE81">I'm only interested in Aethl's newsletter at the moment.</label></li>
                </ul>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display: none"></div>
                <div class="response" id="mce-success-response" style="display: none"></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px"><input type="text" name="b_d2dbd9ccc164631728cd24cb4_cccd01d6eb" tabindex="-1" value="" /></div>
              <div class="clear">
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                  <span class="mc-btn-text">Subscribe</span>
                  <svg class="mc-spinner" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-dasharray="47 16" />
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.newsletter-modal-content -->
  </div>
  <!-- /.newsletter-modal-frame -->
</div>
<!-- /#newsletter-modal -->